global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon
	nbproc 2
	cpu-map 1 0
	cpu-map 2 1
	stats bind-process 2

defaults
        log     global
        mode    http
        option  dontlognull
        retries 3
        option  redispatch
        timeout connect 500000
        timeout client  500000
        timeout server  500000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

listen stats
    bind *:1936
    stats enable
    stats uri /
    stats hide-version
    stats auth barista:barista

frontend http-in
    bind *:80
    mode http

    acl hello-world hdr(host) -i hello-world.service.consul


balance leastconn
        option httpclose
        option forwardfor
        cookie JSESSIONID prefix
        http-request set-header X-Forwarded-Port %[dst_port]
        http-request add-header X-Forwarded-Proto https if { ssl_fc }
        option httpchk HEAD / HTTP/1.1\r\nHost:localhost
